{{/* 
{{ if not (eq .Layout "page") }}
<div class="post-date mt-2 text-sm text-ht-lighter">
  {{ .Date.Format "Jan 2006" }}
</div>
{{ end }} 
*/}} 

{{/* 
{{ if .Params.externalLink }}
<div class="post-permalink mt-1">
  <a class="text-sm text-ht-lighter" href="{{ .RelPermalink }}">Permalink</a>
</div>
{{ end }} 
*/}} 

{{ if .Params.bsky }}
  {{ partial "comments-bsky.html" . }}
{{ end }}

{{- partial "social-reshare.html" . -}}

{{ if or .Params.hn .Params.x .Params.reddit .Params.lin }}
  {{ partial "comments-external.html" . }}
{{ end }}

{{- partial "meta-custom.html" . -}}

