{{/*  {{ if not (eq .Layout "page") }}
<div class="post-date mt-2
            text-sm text-ht-lighter">{{ .Date.Format "Jan 2006" }}</div>
{{ end }}  */}}

{{/*  {{ if .Params.externalLink }}
<div class="post-permalink mt-1">
    <a class="text-sm text-ht-lighter" href="{{ .RelPermalink }}">Permalink</a>
</div>
{{ end }}  */}}

{{ if or .Params.hn .Params.x .Params.reddit }}
{{ partial "comments-external.html" . }}
{{ end }}

{{ if .Params.bsky }}
{{ partial "comments-bsky.html" . }}
{{ end }}

{{ $related := .Site.RegularPages.Related . }}
{{ $related := where $related "Type" "ne" "log" }}
{{ with $related }}
<div class="related-posts pt-6 pb-8">
    <h4 class="font-bold text-ht-light"> Related: </h4>
    <ul class="post-related-links mt-2 ms-3.5">
        {{ range . }}
        <li class="related-post list-disc w-fit text-ht-lighter ">
            <a class="decoration-ht-lightest" href="{{ .RelPermalink }}">
                {{ partial "get-title-for-post.html" . }}
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{- partial "meta-custom.html" . -}}