{{ if .Site.Taxonomies.tags }}
<div class="tag-cloud flex flex-wrap gap-2">
  {{ $tagCount := .count | default (.Site.Params.tagCloudCount | default 20) }}
  {{ $frequentTags := .Site.Taxonomies.tags.ByCount }}

  {{/* If tagCount is -1, show all tags */}}
  {{ $topTags := $frequentTags }}
  {{ if gt $tagCount 0 }}
    {{ $topTags = first $tagCount $frequentTags }}
  {{ end }}

  {{/*  {{ $topTags := sort $topTags ".Name" }}   */}}

  {{ range $topTags }}
    {{ $tagCount := len .Pages }}

    <a href="/tags/{{ .Name | urlize }}/"
       class="pill-slate
              transition-colors duration-200"
       title="{{ $tagCount }} {{ if eq $tagCount 1 }}post{{ else }}posts{{ end }}">
      {{ .Name }}
    </a>
  {{ end }}
</div>
{{ end }}