
/**
 * Basic styling
 */
body {
    font-family: $font-family-base;
    font-size: $font-size-regular;
    line-height: $base-line-height;
    color: $color-text;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}


/**
 * Lists
 */
ul,
ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-header;
    font-weight: bold;
    font-family: $header-font-family;
}

figure {
    margin-bottom: $spacing-unit;
}

/**
 * Links
 */
a {
    color: $color-text;

    &:hover {
        text-decoration: $color-textunderline underline;
    }
}

/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-divider;
        }
    }
}

.center {
    text-align: center;
}
.end {
    text-align: end;
}
.start {
    text-align: start;
}
