@charset "utf-8";

//#region Theme Variables

$font-size-regular: 18px;

$font-size-xlarge: $font-size-regular * 1.5;
$font-size-large: $font-size-regular * 1.25;
//regular
$font-size-medium: $font-size-regular * 0.875;
$font-size-small: $font-size-regular * 0.75;

$base-line-height: 1.4211;

$spacing-unit: 18px;
$spacing-micro-unit: 6px;
$spacing-content-sides: $spacing-unit;

$mobile-width: 375px;
$tablet-width: 652px;
$screen-width: 734px;

// base font
$font-family-0: "IBM Plex Sans", "SF Pro Display", "Helvetica Neue","Helvetica","Arial", ui-sans-serif, sans-serif;
// header 1: primary/main titles
$font-family-1: $font-family-0;
// header 2: secondary titles/headers inside content
$font-family-2: "IBM Plex Serif", "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
// monospace
$font-family-3: ui-monospace, "SF Mono", SFMono-Regular,  "IBM Plex Mono", "Consolas",
monospace;

// remember to update head-additions with background-color
$background-color: hsl(211.6, 18.1%, 20.6%);
$accent-color: #ffe713;
$color-divider: #fad73d;
$color-code: #64ea64;

$color-text: #f2f2f2;
$color-text2: lighten($color-text, 20%);
$color-text3: darken($color-text, 50%);
$color-textunderline: rgba($color-divider, 0.75);
$color-link: $accent-color;
$color-link2: lighten($color-link, 2%);
$color-header: darken($accent-color, 25%);
$color-header-index: lighten($color-text2, 10%);

$color-blockquote: lighten($accent-color, 25%);
$color-blockquote-border: darken($accent-color, 25%);
$color-related-post-border: $color-blockquote-border;


//#endregion

//#region Mixins

@mixin media-query-small-screen() {
  @media only screen and (max-width: $tablet-width) {
      @content;
  }
}
@mixin media-query-laptop() {
  @media only screen and (min-width: $tablet-width + 1px) {
      @content;
  }
}

/*
// these are better ways to do the same thing
// replace above with the below

@mixin tablet-size() {
  @media only screen and (max-width: 1068px) {
    @content;
  }
}
@mixin mobile-size() {
  @media only screen and (max-width: $screen-width) {
    @content;
  }
}

// Usage:
//    font-size: 2rem;
//    @include tablet-size() { font-size: 1rem; }
//    @include mobile-size() { font-size: 0.75rem; }
*/


@mixin font-size-responsive($size: $font-size-regular, $size-small: $font-size-medium) {
  font-size: $size;
  @include media-query-small-screen() {
      font-size: $size-small;
  }
}


@mixin opacity($opacity: 75) {
  filter: alpha(opacity=$opacity);
  -moz-opacity: ($opacity * 0.01);
  opacity: ($opacity * 0.01);
}

@mixin css-transition-opacity() {
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
   -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
       transition: opacity 1s ease-in;
}

@mixin site-top-margin() {
  margin-top: $spacing-content-sides * 2.5;

  @include media-query-small-screen() {
    margin-top: $spacing-content-sides * 1.5;
  }
}


// Using media queries with like this:
// @include media-query-mobile() {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

//#endregion

//#region Reset some basic elements
// inspiration: https://www.joshwcomeau.com/css/custom-css-reset/

// Use a more-intuitive box-sizing model.
// percentages will resolve based on the "border-box"
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // for accessibility
}

body {
  // Typographic tweaks!
  // * Add accessible line-height
  // * Improve text rendering

  line-height: $base-line-height;
  // -webkit-font-smoothing: antialiased;
}

html,
body {
  // Allow percentage-based heights in the application
  //height: 100%;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
  font: inherit;
}

//   Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
//#endregion
