@charset "utf-8";

//#region Theme Variables

$font-size-regular: 18px;

$font-size-xlarge: $font-size-regular * 1.5;
$font-size-large: $font-size-regular * 1.25;
//regular
$font-size-medium: $font-size-regular * 0.875;
$font-size-small: $font-size-regular * 0.75;

$base-line-height: 1.4211;

$spacing-unit: 18px;
$spacing-micro-unit: 6px;
$spacing-content-sides: $spacing-unit;

$font-fam-base: "IBM Plex Sans", "SF Pro Display", "Helvetica Neue","Helvetica","Arial", ui-sans-serif, sans-serif;
$font-fam-head: "IBM Plex Serif", "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
$font-fam-headx: $font-fam-base;
$font-fam-mono: ui-monospace, "SF Mono", SFMono-Regular,  "IBM Plex Mono", "Consolas", monospace;

// remember to update head-additions with background-color
$color-background: hsl(211.6, 18.1%, 20.6%);
$color-accent: #fad73d;
$color-divider: $color-accent;
$color-code: #64ea64;

$color-text1: #f2f2f2;
$color-text2: lighten($color-text1, 20%);
$color-text3: darken($color-text1, 50%);

$color-text-underline: $color-accent;
$color-text-link: $color-accent;

$color-header: darken($color-accent, 5%);
$color-header-index: $color-header;

$color-blockquote: $color-accent;


//#endregion

//#region Mixins

$screen-content-width: 653px;

$tablet-max-width: 1068px;
$tablet-content-width: 576px;

$mobile-max-width: 734px;
$mobile-content-width: 325px;

@mixin media-query-laptop() {
  @media only screen and (min-width: $tablet-max-width + 1px) {
      @content;
  }
}
@mixin media-query-small-screen() {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}


@mixin font-size-responsive($size: $font-size-regular, $size-small: $font-size-medium) {
  font-size: $size;
  @include media-query-small-screen() {
      font-size: $size-small;
  }
}

@mixin opacity($opacity: 75) {
  filter: alpha(opacity=$opacity);
  -moz-opacity: ($opacity * 0.01);
  opacity: ($opacity * 0.01);
}

@mixin css-transition-opacity() {
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
   -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
       transition: opacity 1s ease-in;
}

@mixin site-top-margin() {
  margin-top: $spacing-content-sides * 2.5;

  @include media-query-small-screen() {
    margin-top: $spacing-content-sides * 1.5;
  }
}

@mixin nav-link() {
  background: rgba(0,0,0,0.5);
  padding: .4rem;

  font-family: $font-fam-mono;
  letter-spacing: -0.03rem;
  font-weight: 450;

  text-decoration: none;
  &:hover {
    // text-decoration: underline;
    color: $color-accent;
  }
}
@mixin nav-link-muted() {
  @include nav-link();
  color: $color-text3;
}


//#endregion

//#region Reset some basic elements
// inspiration: https://www.joshwcomeau.com/css/custom-css-reset/

// Use a more-intuitive box-sizing model.
// percentages will resolve based on the "border-box"
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // for accessibility
}

body {
  // Typographic tweaks!
  // * Add accessible line-height
  // * Improve text rendering

  line-height: $base-line-height;
  // -webkit-font-smoothing: antialiased;
}

html,
body {
  // Allow percentage-based heights in the application
  //height: 100%;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
  font: inherit;
}

//   Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
//#endregion
