<article>

<aside class="mt-10
            post-metadata">

    <div class="type
                w-fit border border-amber-300 rounded-sm
                uppercase text-xs text-amber-300
                px-1.5
                ">
    {{ if .Params.externalLink }}
    link
    {{ else if eq .Section "letter" }}
    letter
    {{ else if eq .Section "s" }}
    short
    {{ else if eq .Section "blog" }}
    post
    {{ else if eq .Section "ppt" }}
    talk
    {{ else }}
    page
    {{ end }}
    </div>

    <h1 class="post-link-url
               mt-1
               text-2xl">
    <a href="{{ .RelPermalink }}">
        {{ if eq .Section "log" }} {{ .Date.Format "January 2006" }} {{ else }} {{ .Title }} {{ end }}
    </a>
    </h1>

    {{ if .Draft }}
    <span class="rounded-sm
                 bg-amber-300 uppercase text-xs text-black font-bold
                 px-2 py-0.5
                 draft">Draft</span>
    {{ end }}

    <!--<div class="post-metametadata">

        {{ if not (eq .Section "log") }}
        <div class="post-link-date">{{ .PublishDate.Format "2006.01.02" }}</div>
        {{ end}}


        {{ if .Params.Categories }}
        {{ $category := index .Params.Categories 0}}
        <div class="category">
            <a href="/categories/#{{$category}}">#{{ $category }}</a>
        </div>
        {{ end }}


        {{ if eq .Section "ppt" }}
        <div class="category">
            <a href="/ppt">#ppt</a>
        </div>
        {{ end}}

    </div>-->
</aside>

<div class="post-summary
            text-slate-400
            line-clamp-3 hidden md:block">
{{ .Summary }}
</div>


</article>
