<li class="post-link">
    <div class="post-descriptor">
        <a class="linklog"
            {{ if .Params.externalLink }}
                href="{{ .Params.externalLink }}">
                    {{ .Site.Params.ExternalLinkIndicator }}
            {{ else if eq .Type "s" }}
                href="/s">
                    &#9005;
            {{ else }}
                >
                &nbsp;
            {{ end }}
        </a>
    </div>
    <a class="post-link-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ if .Draft }}
        <span class="draft">Draft</span>
    {{ end }}
    <p class="post-link-date">{{ .Date.Format "Jan 2" }}</p>
</li>
