<div class="post-link">
    <div class="post-metadata">
        <div class="post-descriptor">
            {{ if .Params.externalLink }}
                <a class="linklog" href="{{ .Params.externalLink }}">{{ .Site.Params.ExternalLinkIndicator }}</a>
            {{ else if eq .Section "s" }}
                <a class="linklog" href="/s">&#9005;</a>
            {{ else if eq .Section "letter" }}
                <span class="linklog">&#x1F4E8;</span>
            {{ end }}
        </div>

        <a class="post-link-url" href="{{ .RelPermalink }}">
            {{ if not (eq .Section "log") }}
                {{ .Title }}
            {{ else }}
                {{ .Date.Format "January 2006" }}
            {{ end}}
        </a>

        {{ if .Draft }}
        <span class="draft">Draft</span>
        {{ end }}

        <!--<div class="post-metametadata">

            {{ if not (eq .Section "log") }}
            <div class="post-link-date">{{ .PublishDate.Format "2006.01.02" }}</div>
            {{ end}}


            {{ if .Params.Categories }}
            {{ $category := index .Params.Categories 0}}
            <div class="category">
                <a href="/categories/#{{$category}}">#{{ $category }}</a>
            </div>
            {{ end }}


            {{ if eq .Section "ppt" }}
            <div class="category">
                <a href="/ppt">#ppt</a>
            </div>
            {{ end}}

        </div>-->

    </div>

    <div class="post-summary">
        <div class="post-summary-content">
            {{ .Summary }}
        </div>
    </div>


</div>
