{{ define "content" }}

    {{ if eq .Section "letter" }}
    <div class="letter-head">{{- block "footer-nav" . }}{{- end }}</div>
    {{ end }}

    <section class="post
                    w-3/4 m-auto mt-12">
        <header class="post-header
                       mb-8">
            <h1 class="post-title
                       text-3xl font-medium font-serif">
            <!-- Handle external links differently -->
            {{ if .Params.externalLink }}
                <a href="{{ .Params.externalLink }}" class='article-link'>
                    {{ .Title }}
                </a>
                {{- partial "postimoji.html" . -}}
            {{ else }}
                <!-- Title -->
                {{ if eq .Section "log" }}
                    {{ .Date.Format "January 2006" }}
                {{ else }}
                    {{ .Title }}
                {{ end }}
                {{- partial "postimoji.html" . -}}
            {{ end }}

            {{ if .Draft }} <span class="draft">Draft</span> {{ end }}
            </h1>

            <h4 class="post-author
                       text-sm text-slate-600">
            {{ if .Params.author }}
                {{ .Params.author }}
            {{ else if .Site.Author.name }}
                {{ .Site.Author.name }}
            {{ end}}
            </h4>

        </header>

        <article class="post-content
                        space-y-4
                        text-slate-300
                        ">
            {{ .Content }}

            <!-- show RHS navbar content -->
            {{- partial "navbar.html" . -}}
        </article>

        <div class="post-meta">
            {{- partial "meta.html" . -}}
        </div>
    </section>
{{end}}
