{{ define "content" }}
{{ partial "single-before.html" . }}
<section class="post
                flex flex-col items-center
                pt-8 md:pt-24 pb-12">

    <header class="post-header
                   w-3/4 max-w-3xl min-w-[333px]
                   mb-8">

        <h1 class="post-title font-title font-medium
                   text-henryt-dark text-center
                   text-2xl md:text-3xl ">
            <!-- Handle external links differently -->
            {{ if .Params.externalLink }}
            <a href="{{ .Params.externalLink }}" class="article-link decoration-1  underline-offset-6">
                {{ .Title }}
            </a>
            {{- partial "postimoji.html" . -}}
            {{ else }}
            <!-- Title -->
            {{ if eq .Section "log" }}
            {{ .Date.Format "January 2006" }}
            {{ else }}
            {{ .Title }}
            {{ end }}
            {{- partial "postimoji.html" . -}}
            {{ end }}

            {{ if .Draft }}
            <span class="draft pill-amber-solid text-lg">Draft</span>
            {{ end }}
        </h1>

        <h4 class="post-author
                   pt-2 md:pt-4
                   text-sm text-henryt-light text-center">
            {{ partial "get-authors.html" . }}
        </h4>

    </header>

    <!-- to accommodate full-bleed we apply the width constraints differently input.css -->
    <article class="post-content
                    flex flex-col items-center w-full
                    text-lg">
        {{ .Content }}
    </article>

</section>

<div class="post-meta bg-henryb-dark
            flex flex-col items-center
            py-6">
    <section class="w-3/4 max-w-3xl min-w-[333px]">
        {{- partial "meta.html" . -}}
    </section>
</div>

{{end}}