
/* Serif font */
@font-face {
    font-family: kg-serif;
    src: url("../fonts/kg-serif-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: kg-serif;
    src: url("../fonts/kg-serif-regular-italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: kg-serif;
    src: url("../fonts/kg-serif-medium.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: kg-serif;
    src: url("../fonts/kg-serif-medium-italic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* Sans font */
@font-face {
    font-family: kg-sans;
    src: url("../fonts/kg-sans-regular.woff2") format("woff2 supports variations"),
         url("../fonts/kg-sans-regular.woff2") format("woff2-variations");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: kg-sans;
    src: url("../fonts/kg-sans-regular-italic.woff2") format("woff2 supports variations"),
         url("../fonts/kg-sans-regular-italic.woff2") format("woff2-variations");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: kg-sans;
    src: url("../fonts/kg-sans-medium.woff2") format("woff2 supports variations"),
         url("../fonts/kg-sans-medium.woff2") format("woff2-variations");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: kg-sans;
    src: url("../fonts/kg-sans-medium-italic.woff2") format("woff2 supports variations"),
         url("../fonts/kg-sans-medium-italic.woff2") format("woff2-variations");
    font-weight: bold;
    font-style: italic;
}

/* Monospace font */
@font-face {
    font-family: kg-mono;
    src: url('../fonts/kg-mono.woff2') format("woff2-variations");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: kg-mono;
    src:  url('../fonts/kg-mono-bold.woff2') format("woff2-variations");;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: kg-mono;
    src: url('../fonts/kg-mono-italic.woff2') format("woff2-variations");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: kg-mono;
    src:  url('../fonts/kg-mono-bold-italic.woff2') format("woff2-variations");
    font-weight: bold;
    font-style: italic;
}
