@theme {
  --font-sans: "Figtree", sans-serif;
  --font-title: "Fraunces", serif;
  --font-mono: "Source Code Pro", "ui-monospace", "Cascadia Code", "Menlo", "Consolas", "DejaVu Sans Mono", "monospace";

  /* henry background */
  --color-hbg:         "#1c2b33";
  --color-hbg-dark:    "#152027";

  /* henry text */
  --color-ht-lightest: var(--color-slate-800);
  --color-ht-lighter:  var(--color-slate-700);
  --color-ht-light:    var(--color-slate-500);
  --color-ht:          var(--color-slate-300);
  --color-ht-dark:     var(--color-slate-200);

  /* henry contrast */
  --color-hc-lightest: var(--color-yellow-100);
  --color-hc-lighter:  var(--color-yellow-200);
  --color-hc:          var(--color-yellow-300);
  --color-hc-dark:     var(--color-yellow-500);

  /* henry contrast 2 */
  --color-hc2-light: var(--color-purple-200);
  --color-hc2:       var(--color-purple-500);
  --color-hc2-dark:  var(--color-purple-700);
}
