<div
  id="comments-bsky"
  data-bsky-uri="{{ .Params.bsky }}"
  class="text-ht-lighter my-12"
>
  <div id="comment-post">
    <h2 class="comment-post-header font-bold text-ht-light">
      Comments via 🦋
    </h2>

    <div class="comment-post-meta mt-2 mb-10">
      <a
        class="comment-post-meta-actions decoration-ht-lightest"
        href="#"
        target="_blank"
      >
        <span id="likeCount">0</span> likes |
        <span id="repostCount">0</span> reposts |
        <span id="replyCount">0</span> replies
      </a>

      <a
        id="comment-post-meta-reply"
        class="block decoration-ht-lightest"
        href="#"
        target="_blank"
      >
        Join the conversation
      </a>
    </div>
  </div>

  <div id="comments-container"></div>

  <template id="comment-template">
    <div class="comment flex items-start space-x-4 my-8">
      <div class="avatar pt-2 w-[40px] h-[40px] flex-none">
        <a class="avatar-link w-full" href="" target="_blank">
          <img
            class="avatar-img border border-hc rounded-full overflow-hidden w-[40px] h-[40px] object-cover"
            src=""
            alt="avatar"
          />
        </a>
      </div>

      <div class="comment-body">
        <a class="author-link" href="#" target="_blank">
          <span class="author-name" title=""></span>
        </a>

        <p class="comment-text"></p>

        <div class="comment-actions mt-1 text-ht-lighter text-sm">
          <a class="actions-link" href="#" target="_blank"></a>
        </div>
      </div>
    </div>
  </template>
</div>

{{ $comments := resources.Get "js/comments-bsky.js" }}
<script src="{{ $comments.RelPermalink }}"></script>
