{{- $pageAuthors := .Params.authors -}}
{{- $siteAuthors := .Site.Params.authors -}}

<!-- create a slice to store author anchor links -->
{{- $authorLinks := slice -}}

<!-- convert single author string to a slice -->
{{- if (not (in (slice $pageAuthors) ",")) -}}{{- $pageAuthors = slice $pageAuthors -}}{{- end -}}

{{- range $pageAuthors -}}
<!-- find the author in the site authors by name -->
{{- $matchedAuthor := index (where $siteAuthors "name" .) 0 -}}

{{- if $matchedAuthor -}}
{{- $authorLink := printf "<a href=\"%s\" class=\"decoration-henryt-lightest\">%s</a>" $matchedAuthor.url
$matchedAuthor.name -}}
{{- $authorLinks = $authorLinks | append $authorLink -}}
{{- else -}}
<!-- if no match, just append the plain author name -->
{{- $authorLinks = $authorLinks | append . -}}
{{- end -}}
{{- end -}}

{{- delimit $authorLinks ", " | safeHTML -}}