<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

<link href='{{ "blog/feed.xml" | absURL }}' rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href='{{ "blog/feed.xml" | absURL }}' rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />

{{/*  Preferably set this similar to your $background-color from _theme.scss */}}
<meta name="theme-color" content="#2B343E">