
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    {{- partial "styles.html" . -}}

    {{- partial "seo.html" . -}}

    <link rel="icon" href="/favicon.ico">
    {{/*    <link rel="icon" href="/favicon.svg" type="image/svg+xml">*/}}
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">
    {{/*    <link rel="manifest" href="/my.webmanifest">*/}}


    <meta name="format-detection" content="telephone=no">

    {{- partial "head-additions.html" . -}}

</head>