<div class="post-meta">

    <div class="post-date">{{ .Date.Format "Jan 2006" }}</div>
    {{ if .Params.externalLink }}
        <div class="post-permalink"><a href="{{ .RelPermalink }}">Permalink</a></div>
    {{ end }}


    {{ $n := (add (len (.Params.categories | default slice)) -1) }}
    {{ range $i, $c := .Params.categories  }}
        {{ if eq $i 0 }} <div class="post-taxonomies"> {{ end }}
        <div class="post-taxonomy"><a href="/categories#{{ $c | urlize }}">{{ $c }}</a></div>
        {{ if eq $i $n }} </div> {{ end }}
    {{ end }}

    {{ $related := .Site.RegularPages.Related . }}
    {{ with $related }}
    <div class="post-related">
        <h4> Related: </h4>
        <ul class="post-related-links">
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

</div>