{{/*
      Henry's navbar is smart. So it shows relevant links by default.

      But if you wish to customize the links to your home page or RSS feed, or insert more links
      at the top, insert them here. Remember to add a "last-fixed" class on the last link.
*/}}

<li><a class="nav-link w-fit rounded-sm
              border border-purple-700 hover:bg-purple-700 bg-transparent text-purple-500 hover:text-white
              uppercase text-xs
              px-1.5 py-0.5" href="/">home</a></li>
<li><a class="nav-link w-fit rounded-sm
              border border-purple-700 hover:bg-purple-700 bg-transparent text-purple-500 hover:text-white
              uppercase text-xs
              px-1.5 py-0.5" href="/feed">rss</a></li>
