<nav class="nav pt-8">
    <ul class="tags
               flex flex-row gap-2">

        {{- partial "nav-before.html" . -}}

        <!-- SINGLE post pages -->
        {{ if eq .Kind "page" }}
            <!-- show the parent section if exists-->
            {{ if .Section }}
            <li><a class="pill-amber text-xs" href="/{{.Section}}">{{ if eq .Section "blog" }}posts{{else}}{{.Section}}{{end}}</a></li>
            {{ end }}

            <!-- if BLOG post -->
            {{ if eq .Section "blog" }}

                <!-- show Categories  -->
                {{ range $c := .Params.Categories }}
                <li><a class="nav-link pill-slate text-xs" href="/categories/{{ $c | urlize }}">#{{$c}}</a></li>
                {{ end }}

                <!-- show Tags  -->
                {{ range $t := .Params.Tags }}
                <li><a class="nav-link pill-slate text-xs" href="/tags/{{ $t | urlize }}">#{{$t}}</a></li>
                {{ end }}

            {{ end }}
        {{ end }}

        <!-- SECTION list pages -->
        {{ if eq .Kind "section" }}

            <!-- show other sections  -->
            {{ $thisSection := .Page.Section }}
            {{ range .Site.Sections }}
                <!-- exclude section currently being show  -->
                {{ if not (eq .Section $thisSection) }}
                    <!-- exclude invisible section  -->
                    {{ if not (in .Site.Params.InvisibleSections .Section) }}
                    <li><a class="nav-link pill-amber text-xs" href="{{ .Permalink }}">{{.Section}}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}

            <!-- in blog list page alone, show taxonomies/categories and tags  -->
            {{ if eq .Section "blog" }}
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                    {{ if (gt (len $taxonomy) 0) }}
                    <li><a class="nav-link pill-slate text-xs" href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{$taxonomyname}}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}

        {{ end }}

        <!-- TAXONOMY pages like category/tag list pages -->
        {{ if eq .Kind "taxonomy" }}
            <!-- show all posts link  -->
            <li><a class="nav-link pill-slate text-xs" href="/blog">posts</a></li>
        {{ end }}

        <!-- if TAXONOMY list page has values like categories/tips/ -->
        {{ if eq .Kind "term" }}
        <li><a class="nav-link pill-slate text-xs" href="/{{.Section}}">{{.Section}}</a></li>
        {{ end }}

        {{- partial "nav-after.html" . -}}
    </ul>
</nav>
