{{ if .Site.Taxonomies.tags }}
<div class="tag-cloud flex flex-wrap gap-2 justify-center items-center mt-6">
  {{ $largestFontSize := 1.5 }}
  {{ $smallestFontSize := 0.875 }}
  {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
  {{ $max := add (len (index .Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
  {{ $min := len (index .Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
  {{ $spread := sub $max $min }}
  {{ $fontStep := div $fontSpread $spread }}

  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ $tagCount := len $taxonomy.Pages }}
    {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
    {{ $weight := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
    {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight)) }}

    <a href="/tags/{{ $name | urlize }}/"
       class="pill-slate no-underline hover:text-hc transition-colors duration-200"
       style="font-size: {{ $currentFontSize }}rem;"
       title="{{ $tagCount }} {{ if eq $tagCount 1 }}post{{ else }}posts{{ end }}">
      {{ $name }}
    </a>
  {{ end }}
</div>
{{ end }}