<div class="mt-6 md:mt-10">

    <aside class="post-metadata">

        <div class="tags
                flex flex-row gap-2 mb-1 md:mb-4">

            {{ $postType := .Type | singularize }}
            {{ $postType = replace $postType "ppt" "talk" }}
            {{ $postType = replace $postType "blog" "post" }}
            {{ $postType = cond .Params.externalLink "link" $postType }}
            {{/*  <a class="nav-link pill-hc {{ $postType }}" href="/{{.Section}}">
                {{ $postType }}
            </a>  */}}

            {{ if .Draft }}
            <div class="draft pill-hc2-solid">Draft</div>
            {{ end }}
        </div>

        {{ if eq .Type "shorts" }}
        <!-- Shorts layout -->
        <article class='post-summary
                        font-title italic font-semibold
                        text-sm lg:text-lg'>
            <a href="{{ .RelPermalink }}"
               class="relative flex items-center
                      !no-underline group">
                <svg  class="absolute
                             left-0 top-4
                             w-15 h-15
                             text-ht-lighter opacity-20 dark:opacity-80
                             -translate-y-1/2 -translate-x-2 pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-1.9 5.4A8.5 8.5 0 0 1 12 21a8.38 8.38 0 0 1-5.4-1.9L3 21l1.9-5.4A8.38 8.38 0 0 1 3 11.5 8.5 8.5 0 1 1 21 11.5z"></path></svg>
                <span class="relative pl-8 -ml-4 font-title italic font-semibold group-hover:underline">
                    {{ partial "get-first-paragraph-ellipsised.html" .Content }}
                </span>
            </a>
        </article>


        {{ else }}
        <!-- Regular post layout -->
        <h1 class=" post-link-url
                    font-title font-semibold
                    text-xl lg:text-3xl leading-tight">

            <a class="no-underline" href="{{ .RelPermalink }}">
                {{ if eq .Section "log" }}
                    {{ .Date.Format "January 2006" }}
                 {{ else }}
                    {{ .Title }}
                 {{ end }}
            </a>

            {{ if (eq $postType "link")}}
            <a class="text-ht-light inline-flex items-center w-5 h-5" href="{{ .Params.externalLink }}">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
              </svg>
            </a>
            {{ end }}

        </h1>

        <article class='post-summary
                        hidden md:block
                        line-clamp-3
                        lg:mt-2'>
            <div class='hidden md:block text-ht-lighter line-clamp-3 lg:mt-2'>
                {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
            </div>
        </article>
        {{ end }}

    </aside>

</div>